button.btn.dropdown-toggle.btn-light {
    padding: 17px 20px;
}
.title {
    font-weight: 700!important;
    line-height: 1.25!important;
    font-size: 1.5rem!important;
    color: #fff;
    /*opacity: 0.7;*/
    text-transform: uppercase!important;
    letter-spacing: 0.03rem!important;
}
.box {
    background: #27293d;
    border: 1px solid #3f3f40;
}
.box-value h5 {
    padding: 25px 10px 0px 10px;
    color: #b1b1b5;
    font-weight: 600;
    font-size: 25px;
}
.value-icon h6 {
    padding: 25px 10px 10px 10px;
    color: #b1b1b5;
    font-weight: 600;
    font-size: 16px;
    text-align: right;
}
.value-form h6 {
    padding: 15px 5px 5px 5px;
    color: #b1b1b5;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
}
.value-form button {
    border-radius: 4px;
    padding: 10px 25px;
    margin-top: -10px;
}
.value-form input {
    padding: 5px 0px;
}
.value-form input#rd {
    padding: 12px 15px;
}
.value-form input#inlineCheckbox1 {
    padding: 11px;
}
.box-value span {
    font-size: 12px;
}
.float-right {
    float: right;
}
.tile-img-sec img{
    width: 100%;
}
.tile-text-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}
.tile-main-box {
    position: relative;
}
.tile-detail p {
    color: #ffffff;
}